<div class="bg-black h-20 border-white border-b-2 flex items-center justify-between px-72">
        <img src="img/logo-white.png" class="h-10 w-auto">

        <nav>
            <ul class="text-white font-poppins flex text-xl uppercase">
                <li class="border-r-2 h-20 w-48 py-6 border-white text-center"><a href="#portfolio">Portfolio</a></li>
                <li class="border-r-2 h-20 w-48 py-6 border-white text-center"><a href="#commissions">Commission</a>
                </li>
                <li class="border-r-2 h-20 w-48 py-6 border-white text-center"><a href="#store">Store</a></li>
                <li class="border-r-2 h-20 w-48 py-6 border-white text-center"><a href="#websites">Websites</a></li>
                <li class="border-r-2 h-20 w-48 py-6 border-white text-center"><a href="#design">Design</a></li>
            </ul>
        </nav>
    </div>